h1{
  text-align: center;
  color: red;
}
mat-card-content{
  text-align: justify;
}
button{
  margin: 2px;
}
mat-card{
  background-color: #fde54a;
  margin: 10px;
  max-width: 300px;
  min-width: 250px;
}
img{
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
.container{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 8px #888888;
}

@media (max-width: 700px){
  .container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
  }
}
