
<section class="container">
  <section>
    <form>
      <img src="https://cdn.pixabay.com/photo/2013/07/12/14/10/pushpin-147918_960_720.png" alt="">
      <h1>LOGIN</h1>
      <div class="form-group">
        <label>User</label>
        <input #user type="text" class="form-control" required value="admin">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" required #pass value="1234">
      </div>
        <button type="submit" class="btn btn-primary" (click)="Login(user.value, pass.value)">Login</button>
    </form>
  </section>

  <p>Usuario 1: user, 1234</p>
  <p>Usuario 2: admin 1234</p>
</section>
