<section>
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Abrir menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/notas']">
        <mat-icon>notes</mat-icon>
        <span>Notas</span>
      </button>
      <button mat-menu-item [routerLink]="['/crear-nota']" *ngIf="privilegio">
        <mat-icon>add</mat-icon>
        <span>Crear Nota</span>
      </button>
      <button mat-menu-item [routerLink]="['/reporte']" *ngIf="privilegio">
        <mat-icon>print</mat-icon>
        <span>Reporte</span>
      </button>
      <button mat-menu-item [routerLink]="['/settings']" *ngIf="privilegio">
        <mat-icon>settings_applications</mat-icon>
        <span>Configuraciones</span>
      </button>
    </mat-menu>

    <img src="https://i.pinimg.com/originals/b6/cd/e8/b6cde81d1c489b0e20d85a6e06c5f8f9.png" width="20" height="fa-rotate-270" class="d-inline-block align-top" alt="" loading="lazy">

    <span>Notas</span>

    <span class="right-align"></span>
    {{user | uppercase}}
    <button mat-icon-button matTooltip="Cerrar Sesion" (click)="closeSesion()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</section>
