<section>
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="[privilegio]">
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item >
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item [routerLink]="['/settings']" *ngIf="[privilegio]">
        <mat-icon>settings_applications</mat-icon>
        <span>Configuraciones</span>
      </button>
    </mat-menu>

    <img src="https://i.pinimg.com/originals/b6/cd/e8/b6cde81d1c489b0e20d85a6e06c5f8f9.png" width="20" height="fa-rotate-270" class="d-inline-block align-top" alt="" loading="lazy">

    <span>Notas</span>

    <span class="right-align"></span>
    {{user}}
    <button mat-icon-button matTooltip="Close Sesion" (click)="closeSesion()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</section>
